* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  max-width: 990px;
  margin: 0 auto;
}

textarea {
  font-size: 14px;
  width: 900px;
  height: 300px;
  padding: 20px;
  border: none;
}
